# IDE
.vs/
Morpheus.sln
Morpheus.vcxproj.user
Morpheus/Engine/Engine.vcxproj
Morpheus/Engine/Engine.vcxproj.*
Morpheus/Game/Game.vcxproj
Morpheus/Game/Game.vcxproj.*
Morpheus/Editor/Editor.vcxproj
Morpheus/Editor/Editor.vcxproj.*

# Build
Build/
Dist/
Makefile

# Dependencies
Libraries/GLFW/bin/
Libraries/GLFW/bin-int/
Libraries/GLFW/Makefile
Libraries/GLFW/GLFW.vcxproj
Libraries/GLFW/GLFW.vcxproj.*

Libraries/Glad/bin/
Libraries/Glad/bin-int/
Libraries/Glad/Makefile
Libraries/Glad/Glad.vcxproj
Libraries/Glad/Glad.vcxproj.*

Libraries/lua/bin/
Libraries/lua/bin-int/
Libraries/lua/Makefile
Libraries/lua/Lua.vcxproj
Libraries/lua/Lua.vcxproj.*

Libraries/freetype2/bin/
Libraries/freetype2/bin-int/
Libraries/freetype2/Makefile
Libraries/freetype2/FreeType2.vcxproj
Libraries/freetype2/FreeType2.vcxproj.*

Libraries/imgui/bin/
Libraries/imgui/bin-int/
Libraries/imgui/Makefile
Libraries/imgui/ImGui.vcxproj
Libraries/imgui/ImGui.vcxproj.*

# Runtime
Morpheus/Editor/imgui.ini
