# IDE
.vs/
Morpheus.vcxproj.user

# Build
Build/
Dist/

# Dependencies
Libraries/Glad/bin/
Libraries/Glad/bin-int/
Libraries/Glad/Makefile
Libraries/Glad/Glad.*

Libraries/lua/bin/
Libraries/lua/bin-int/
Libraries/lua/Makefile
Libraries/lua/lua.*

Libraries/freetype2/bin/
Libraries/freetype2/bin-int/
Libraries/freetype2/Makefile
Libraries/freetype2/FreeType2.*
